@use '../../sass/_mixins' as mixins
.modal
    background: rgba(#101828, 70%)
    position: fixed
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    z-index: 10
    overflow-y: scroll
    animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
    .modal-body
        width: 90%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        margin-inline: auto
        @include mixins.device-style($device: 'sm')
            width: 60%
        @include mixins.device-style($device: 'sm')
            width: 50%
        @include mixins.device-style($device: 'lg')
            width: 40%

@keyframes unfoldIn
    0%
        transform: scaleY(.005) scaleX(0)
    50%
        transform: scaleY(.005) scaleX(1)
    100%
        transform: scaleY(1) scaleX(1)