@use '../../sass/_mixins.sass' as mixins
.footer
    position: fixed
    bottom: 0px
    padding: 8px 20px
    display: flex
    gap: 20px
    border-top: 1px solid
    background: inherit
    align-items: center
    justify-content: center
    width: 100%
    img
        margin-block: auto
        width: 6rem
        height: auto
    & > span
        font-family: Inter
        font-size: 15px
        font-weight: 400
        line-height: 32px
        letter-spacing: 0em
        color: #101828
        margin-block: auto