@use '../../../sass/_mixins.sass' as mixins
.layout-container
    margin-inline: auto
    overflow-y: scroll
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    position: fixed
    right: 0
    left: 0
    top:0
    bottom: 3rem
    background: url(/doughnut.svg) no-repeat center/contain #EBB8B8
    background-size: 550px auto
    @include mixins.device-style($device: 'sm')
        background-size: 700px auto